<div class="menu-wrapper">
    <h1 class="header">Наскільки добре ти знаєш страву?</h1>
    <div class="menu-select-wrapper">
        <div class="menu-select">
            <div [routerLink]="[ 'quizz', '1' ]" class="quizz-select first-select">
                <div class="quizz-item-content">
                    <span class="start-test">Розпочати тестування</span>
                </div>
            </div>
            <div [routerLink]="[ 'quizz', '2' ]" class="quizz-select second-select">
                <div class="quizz-item-content">
                    <span class="start-test">Розпочати тестування</span>
                </div>
            </div>
        </div>
    </div>
</div>